body {
    background-color: #222126;
}

img {
    pointer-events: none;
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: -1;
}

p {
    padding: 25px;
}

.row-heading {
    padding: 1em;
}

.row0 {
    min-height:200px;
    padding:0 5px;
}

.div_img {
    width: 23em;
    height: 18em;
    box-shadow: 0px 0px 30px -10px rgb(16 73 145);
}

.background-div {
    background-image: linear-gradient(60deg, #f40799, #f90a0a);
    opacity: 0.5;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(5px);
    width: 25px;
    height: 25px;
    border-radius: 10px;
    position: absolute;
    left: 71px;
    top: 124px;
    z-index: -50;
}

.background-div-second {
    background-image: linear-gradient(60deg, #f4077e, #f91a0a);
    left: 43px;
    top: 119px;
}

.background-div-third {
    background-image: linear-gradient(60deg, #f4077e, #bb1e13);
    left: 51px;
    top: 147px;

}

.background-div-sm-right {
    background-image: linear-gradient(60deg, #f407e8, #f91a0a);
    width: 15px;
    height: 15px;
    border-radius: 5px;
    left: 82px;
    top: 154px;
}

.background-div-sm-left {
    background-image: linear-gradient(60deg, #f4077e, #bb1e13);
    width: 15px;
    height: 15px;
    border-radius: 5px;
    left: 31px;
    top: 144px;
}

.background-div-xs-left {
    background-image: linear-gradient(60deg, #f4077e, #bb1e13);
    width: 20px;
    height: 20px;
    border-radius: 15px;
    left: 31px;
    top: 144px;
}

.background-div-xs-left {
    background-image: linear-gradient(60deg, #f4077e, #bb1e13);
    width: 14px;
    height: 17px;
    border-radius: 10px;
    left: 26px;
    top: 123px;
}

.background-div-xs-right {
    background-image: linear-gradient(60deg, #f4077e, #bb1e13);
    width: 14px;
    height: 17px;
    border-radius: 10px;
    left: 99px;
    top: 137px;
}

.background-div-bottom {
    background-image: linear-gradient(60deg, #f4077e, #bb1e13);
    width: 14px;
    height: 17px;
    border-radius: 10px;
    left: 51px;
    top: 176px;
}

.background-div-xs-left-bottom {
    background-image: linear-gradient(60deg, #f4077e, #bb1e13);
    width: 14px;
    height: 17px;
    border-radius: 10px;
    left: 37px;
    top: 162px;
}

.background-div-xs-right-bottom {
    background-image: linear-gradient(60deg, #f4077e, #bb1e13);
    width: 14px;
    height: 17px;
    border-radius: 10px;
    left: 70px;
    top: 171px;
}

.leaf-right {
    background-image: linear-gradient(60deg, #229213, #64bb13);
    left: 75px;
    top: 98px;
}

.leaf-left {
    background-image: linear-gradient(60deg, #229213, #64bb13);
    left: 52px;
    top: 93px;
}

.leaf-right-sm {
    background-image: linear-gradient(60deg, #229213, #64bb13);
    width: 19px;
    height: 19px;
    border-radius: 16px;
    left: 33px;
    top: 100px;
}

.leaf-left-sm {
    background-image: linear-gradient(60deg, #229213, #64bb13);
    width: 19px;
    height: 19px;
    border-radius: 16px;
    left: 98px;
    top: 111px;
}

.range-value {
    color: #77BDFB;
}

input[type=range]{
    width: 300px;
    -webkit-appearance: none;
    transform: rotate(-90deg);
    margin: 10px 0;
    height: 20px;
    position: absolute;
}
    input[type=range]:focus {
        outline: none;
    }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 5px #77BDFB;
    background: #77BDFB;
    border-radius: 5px;
    border: 2px solid #5D94C4;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 3px #51697D;
    border: 2px solid #9BC9F0;
    height: 50px;
    width: 50px;
    border-radius: 20px;
    background: #A2D2FB;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -12px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #77BDFB;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 5px #77BDFB;
    background: #77BDFB;
    border-radius: 5px;
    border: 2px solid #5D94C4;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 3px #51697D;
    border: 2px solid #9BC9F0;
    height: 50px;
    width: 50px;
    border-radius: 20px;
    background: #A2D2FB;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 30px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #77BDFB;
    border: 2px solid #5D94C4;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #77BDFB;
  }
  input[type=range]::-ms-fill-upper {
    background: #77BDFB;
    border: 2px solid #5D94C4;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #77BDFB;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 3px #51697D;
    border: 2px solid #9BC9F0;
    height: 50px;
    width: 50px;
    border-radius: 20px;
    background: #A2D2FB;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #77BDFB;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #77BDFB;
  }
  